<section data-ng-controller="MetricsController">
    <div class="page-header">
        <h1>New Metric</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="alias">Alias</label>
                    <div class="controls">
                        <input type="text" data-ng-model="alias" id="alias" class="form-control" placeholder="Alias" required>
                    </div>
                </div>
                <div class="form-group">
                    <div ng-repeat="target in targets">
                        <input type="text" placeholder="Target" ng-model="target.text">
                    </div>
                </div>
                <button ng-click="addTarget()">Add target</button>
                <div class="form-group">
                    <label class="control-label" for="target">Target</label>
                    <div class="controls">
                        <input type="text" data-ng-model="target" id="target" class="form-control" placeholder="Target" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>

<!--"dashboardId": { type: Schema.Types.ObjectId, ref: "Dashboard"},-->
<!--"alias": {type: String, default: null},-->
<!--"target": [String],-->
<!--"benchmarkWarning": {type: Number, default: null},-->
<!--"benchmarkIssue": {type: Number, default: null},-->
<!--"requirementValue": {type: Number, default: null},-->
<!--"requirementOperator": {type: String, default: null},-->
<!--"tag": {type: String, default: null},-->
<!--"type": {type: String, default: 'Average'-->}