<section data-ng-controller="MetricsController">
    <div class="page-header">
        <h1>New Metric</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal"  novalidate>
            <fieldset>
                <div class="form-group well well-sm">
                    <label class="control-label" for="alias">Alias</label>
                    <div class="controls">
                        <input type="text" data-ng-model="metric.alias" id="alias" class="form-control" placeholder="Alias" required>
                    </div>
                </div>
                <div class="form-group well well-sm">
                    <label class="control-label" for="target" >Targets</label>
                    <div class="controls" ng-repeat="target in metric.targets track by $index">
                        <input type="text" id="target" data-ng-model="metric.target[$index]" placeholder="Enter target" required>
                        <i class="glyphicon glyphicon-trash" data-ng-click="removeTarget($index)" data-ng-show="metric.targets.length>1"></i>
                    </div>
                    <button ng-click="addTarget()">Add target</button>
                </div>
                <div class="form-group well well-sm">
                    <label class="control-label">Tags</label>
                    <tags-input data-ng-model="metric.tags" >
                        <auto-complete source="loadTags($query)"></auto-complete>
                    </tags-input>
                </div>
                <div class="form-group well well-sm">
                    <label class="control-label" for="type">Type</label>
                    <div class="controls">
                        <select id="type" data-ng-model="metric.type" placeholder="Select type" required>
                            <option data-ng-repeat="type in metricTypes" value="{{type}}">{{type}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group well well-sm">
                    <label class="control-label" for="requirementOperator">Should be</label>
                    <div class="controls">
                        <select id="requirementOperator" data-ng-model="metric.requirementOperator">
                            <option data-ng-repeat="requirementOperator in requirementOperatorOptions" value="{{requirementOperator}}">{{requirementOperator.alias}}</option>
                        </select>
                        <input type="text" id="requirementValue" data-ng-model="metric.requirementValue" placeholder="Enter value" >
                    </div>
                </div>
                <div class="form-group well well-sm">
                    <button data-ng-click="create()">Submit</button>
                </div>
                <p>Metric: {{metric}}</p>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>

<!--"dashboardId": { type: Schema.Types.ObjectId, ref: "Dashboard"},-->
<!--"alias": {type: String, default: null},-->
<!--"target": [String],-->
<!--"benchmarkWarning": {type: Number, default: null},-->
<!--"benchmarkIssue": {type: Number, default: null},-->
<!--"requirementValue": {type: Number, default: null},-->
<!--"requirementOperator": {type: String, default: null},-->
<!--"tag": {type: String, default: null},-->
<!--"type": {type: String, default: 'Average'-->