<div data-ng-controller="TestrunsController" data-ng-init="listTestRunsForDashboard()">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Confirmation</h3>
        </div>
        <div class="modal-body">
            <p>Delete test run {{selectedTestRun.testRunId}}?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Test run ID</th>
                <th>Start</th>
                <th>End</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="testRun in testRuns" data-ng-click="testRunDetails($index)">
                <td>{{testRun.testRunId}}</td>
                <td>{{testRun.start | date:'EEEE, dd-M-yyyy H:mm:ss'}}</td>
                <td>{{testRun.end | date:'EEEE, dd-M-yyyy H:mm:ss'}}</td>
                <td><i class="glyphicon glyphicon-trash" data-ng-click="open('', $index)"></i> </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
