<div class="clearfix"></div>
<ul class="nav nav-pills">
<div loading-container="tableParams.settings().$loading">
    <table ng-table="tableParams" show-filter="true" class="table">
        <tbody>
        <tr ng-repeat="transaction in $data">
            <td data-title="'Request'" filter="{ 'request': 'text' }" sortable="'request'">
                {{transaction.request}}
            </td>
            <td data-title="'OK'" sortable="'OK'">
                {{transaction.OK}}
            </td>
            <td data-title="'KO'" sortable="'KO'">
                {{transaction.KO}}
            </td>
            <td data-title="'% Failed'" sortable="'percFailed'">
                {{transaction.percFailed}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
