<div ng-controller="GraphsController"  data-ng-init="init()">
    <div fix-to-top="fix-to-top">
        <div class="btn-group" >
            <label class="btn btn-primary" ng-model="zoomRange" btn-radio="'-10min'" uncheckable>10min</label>
            <label class="btn btn-primary" ng-model="zoomRange" btn-radio="'-30min'" uncheckable>30min</label>
            <label class="btn btn-primary" ng-model="zoomRange" btn-radio="'-1h'" uncheckable>1h</label>
            <label class="btn btn-primary" ng-model="zoomRange" btn-radio="'-3h'" uncheckable>3h</label>
            <label class="btn btn-primary" ng-model="zoomRange" btn-radio="'-6h'" uncheckable>6h</label>
            <label class="btn btn-primary" ng-model="zoomRange" btn-radio="'-12h'" uncheckable>12h</label>
            <label class="btn btn-primary" ng-model="zoomRange" btn-radio="'-1d'" uncheckable>1d</label>
            <label class="btn btn-primary" ng-model="zoomRange" btn-radio="'-2d'" uncheckable>2d</label>
        </div>
        <tabset>
            <tab data-ng-repeat="tag in tags" heading="{{tag.text}}" data-ng-model="value"  disabled="tag.disabled" active="isActive(tag.text)" ui-sref="viewLiveGraphs(tag.route)" >
            </tab>
        </tabset>
    </div>
    <accordion close-others="false">
        <div data-ng-repeat="metric in metrics | tagsFilter:'tags':value" data-ng-controller="HighchartsLiveController"  >
            <accordion-group heading="{{metric.alias}}"  is-open="metric.isOpen" >
                <div data-ng-init="initConfig(chart, metric)" ng-if="metric.isOpen">
                    <span>
                    <div class="btn-group">
                        <label class="btn btn-lg" ng-click="editMetric(metric._id)"><span class="btn btn-xs glyphicon glyphicon-wrench"></span></label>
                        <label class="btn btn-lg" ng-click="setMetricShareUrl(metric._id)"><span class="btn btn-xs glyphicon glyphicon-share"></span></label>
                    </div>
                    </span>
                    <span><input ng-readonly="true" ng-model="metricShareUrl" ng-if="showUrl" style="width:50%;" share-graph-url/></span>

                    <highchart id="chart1" config="config"></highchart>
                </div>
            </accordion-group>
        </div>
    </accordion>
</div>
