<div ng-controller="GraphsController">
    <!--<accordion close-others="false">-->
        <!--<accordion-group heading="{{metric.alias}}" data-ng-repeat="metric in metrics" data-ng-controller="HighchartsController" data-ng-init="initConfig(chart, metric)">-->
            <!--<highchart id="chart1" config="config"></highchart>-->
        <!--</accordion-group>-->
    <!--</accordion>-->
    <ul>
        <li data-ng-repeat="metric in metrics" data-ng-controller="HighchartsController" data-ng-init="initConfig(chart, metric)">
            <highchart id="chart1" config="config"></highchart>
        </li>
    </ul>

</div>
