<div ng-controller="GraphsController" data-ng-init="setTags()">
    <ul class="nav nav-tabs">
        <li ng-repeat="tag in tags" ng-class="{active: isSet($index)}" >
            <a href ng-click="setTab($index)">{{tag}}</a>
        </li>
    </ul>
    <accordion close-others="false">
        <div data-ng-repeat="metric in metrics | tagsFilter:'tags':value" data-ng-controller="HighchartsLiveController"  >
            <accordion-group heading="{{metric.alias}}"  is-open="group.isOpen" >
                <div data-ng-init="initConfig(chart, metric)" ng-if="group.isOpen">
                    <highchart id="chart1" config="config"></highchart>
                </div>
            </accordion-group>
        </div>
    </accordion>
</div>
