<div ng-controller="GraphsController">
    <accordion close-others="false">
        <div data-ng-repeat="metric in metrics" data-ng-controller="HighchartsController" data-ng-init="initConfig(chart, metric)">
            <accordion-group heading="{{metric.alias}}" >
                <highchart id="chart1" config="config"></highchart>
            </accordion-group>
        </div>
    </accordion>
    <!--<ul>-->
        <!--<li data-ng-repeat="metric in metrics" data-ng-controller="HighchartsController" data-ng-init="initConfig(chart, metric)">-->
            <!--<highchart id="chart1" config="config"></highchart>-->
        <!--</li>-->
    <!--</ul>-->

</div>
