<div data-ng-controller="DashboardsController">
     <div>
         <table class="table">
             <thead>
                 <tr>
                     <th>Metric</th>
                     <th>Tag</th>
                     <th><i class="glyphicon glyphicon-plus" data-ng-click="addMetric()"></i></th>
                 </tr>
             </thead>
             <tbody>
                <tr ng-repeat="metric in dashboard.metrics">
                    <td><a data-ng-href="/#!/edit/metric/{{productName}}/{{dashboardName}}/{{metric._id}}">{{metric.alias}}</a></td>
                    <td>
                        <span ng-repeat="tag in metric.tags track by $index">{{tag.text}}<span data-ng-show="!$last">, </span></span>
                    </td>
                    <td><i class="glyphicon glyphicon-trash" data-ng-click="showDeleteConfirmation(metric._id)"></i> </th>
                </tr>
             </tbody>
        </table>
    </div>
    <!-- The actual modal template, just a bit o bootstrap -->
    <script type="text/ng-template" id="modal.html">
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Delete metric {{metric.alias}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>
