<section data-ng-controller="DashboardsController as tab" data-ng-init="findOne()">
    <div class="page-header">
        <h1>{{productName}}-{{dashboard.name}}</h1>
        <h3>Description:    {{dashboard.description}}</h3>
        <i title="Edit dashboard" class="glyphicon glyphicon-pencil" data-ng-click="edit()"></i>
        <i title="Clone dashboard" class="glyphicon glyphicon-duplicate" data-ng-click="clone()"></i>
        <i title="Delete dashboard" class="glyphicon glyphicon-trash" data-ng-click="open('', $index)"></i>
    </div>
    
    <ul class="nav nav-tabs">
    <li ng-class="{active: tab.isSet(1)}" >
        <a href ng-click="tab.setTab('Test runs')" >Test runs</a></li>
    <li ng-class="{active: tab.isSet(2)}">
        <a href  ng-click="tab.setTab('Metrics')">Metrics configuration</a></li>
    <li ng-class="{active: tab.isSet(3)}">
        <a href  ng-click="tab.setTab('Events')">Events</a></li>
    </ul>
    <div ng-show="tab.isSet(1)">
        <h4>Test runs</h4>
    </div>
    <div ng-show="tab.isSet(2)">
        <div data-ng-include="'modules/dashboards/views/view-dashboard-metrics.client.view.html'"></div>
    </div>
    <div ng-show="tab.isSet(3)">
        <h4>Events</h4>
    </div>
</section>
