<section data-ng-controller="DashboardsController as tab" data-ng-init="findOne()">
    <div class="page-header">
        <h1>{{productName}}-{{dashboard.name}}</h1>
    </div>
    <ul class="nav nav-tabs">
    <li ng-class="{active: tab.isSet(1)}" >
        <a href ng-click="tab.setTab(1)" >Test runs</a></li>
    <li ng-class="{active: tab.isSet(2)}">
        <a href  ng-click="tab.setTab(2)">Metrics configuration</a></li>
    <li ng-class="{active: tab.isSet(3)}">
        <a href  ng-click="tab.setTab(3)">Events</a></li>
    </ul>
    <div ng-show="tab.isSet(1)">
        <h4>Test runs</h4>
    </div>
    <div ng-show="tab.isSet(2)">
        <div data-ng-include="'modules/dashboards/views/view-dashboard-metrics.client.view.html'"></div>
    </div>
    <div ng-show="tab.isSet(3)">
        <h4>Events</h4>
    </div>
</section>
